<div class="mx-auto md:w-2/3 w-full">
  <% if alert = flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>

  <% if notice = flash[:notice] %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="bg-blue-50 border-l-4 border-blue-400 text-blue-800 p-4 mt-5 flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10 text-blue-200 inline-block mr-4">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 3.104v5.714a2.25 2.25 0 0 1-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 0 1 4.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0 1 12 15a9.065 9.065 0 0 0-6.23-.693L5 14.5m14.8.8 1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0 1 12 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5" />
    </svg>

    <p>
      YouMarket is currently in beta and only invited users can sell their products. Contact as at <a href="mailto:beta@youmarket.com" class="text-blue-600 underline">beta@youmarket.com</a> to request an invite.
    </p>
  </div>

  <h1 class="font-bold text-4xl mt-10">Sign in</h1>

  <%= form_with url: session_url, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.label :email_address, "Email", class: "block text-sm font-medium text-gray-700" %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :password, "Password", class: "block text-sm font-medium text-gray-700" %>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <div class="inline">
        <%= form.submit "Sign in", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      </div>

      <div class="mt-4 text-sm text-gray-500 sm:mt-0">
        <%= link_to "Forgot password?", new_password_path, class: "text-gray-700 underline" %>
      </div>
    </div>
  <% end %>

  <div class="prose max-w-full my-24">
    <h2>
      What is YouMarket?
    </h2>

    <p>
      YouMarket is a platform that allows you to sell your products online. There are plenty of other platforms that allow you to do this, and there's nothing particularly special about YouMarket. We try to design an intuitive and unobtrusive user experience for both sellers and buyers, focused on handcrafted and sustainable products.
    </p>

    <h2>
      What are the fees?
    </h2>

    <p>
      You CAN sell products absolutley for free, IF you coordinate everything with the buyer yourself and don't use the built-in payment processor, which is Stripe. We don't force you or buyers to go through the online checkout. But if you want to, then Stripe takes a fee of 1,5 % + 0,25 € per transaction and we take another 1,5 %. So in total you pay 3 % + 0,25 € per sell. No monthly fees.
    </p>

    <h2>
      Will people find my products on YouMarket?
    </h2>

    <p>
      Well, search engine optimization is a difficult thing to master. We're working on it but it also just takes time. You can help by sharing your products on social media and telling your friends about YouMarket. We want to grow and evolve organically and don't do any paid advertising.
    </p>
  </div>
</div>
