<div class="mx-auto md:w-2/3 w-full">
  <% if alert = flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>

  <% if notice = flash[:notice] %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="bg-green-50 border-l-4 border-green-600 text-green-800 p-4 mt-5 flex items-center text-lg">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12 text-green-600 inline-block mr-4">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 3.104v5.714a2.25 2.25 0 0 1-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 0 1 4.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0 1 12 15a9.065 9.065 0 0 0-6.23-.693L5 14.5m14.8.8 1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0 1 12 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5" />
    </svg>

    <p>
      Wir befinden uns derzeit noch in der Test-Phase und nur eingeladene Benutzer können ihre Produkte einstellen. Kontaktiere uns unter <a href="mailto:kontakt@emmaherbst.de" class="text-green-600 underline">kontakt@emmaherbst.de</a>, um eine Einladung anzufordern.
    </p>
  </div>

  <h1 class="font-bold text-4xl mt-10">Anmeldung</h1>

  <%= form_with url: session_url, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.label :email_address, "E-Mail", class: "block text-sm font-medium text-gray-700" %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "E-Mail-Adresse eingeben", value: params[:email_address], class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :password, "Passwort", class: "block text-sm font-medium text-gray-700" %>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Passwort eingeben.", maxlength: 72, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <div class="inline">
        <%= form.submit "Anmelden", class: "rounded-lg py-3 px-5 bg-green-600 text-white inline-block font-medium cursor-pointer" %>
      </div>

      <div class="mt-4 text-sm text-gray-500 sm:mt-0">
        <%= link_to "Passwort vergessen?", new_password_path, class: "text-gray-700 underline" %>
      </div>
    </div>
  <% end %>

  <div class="prose max-w-full my-24 text-lg">
    <h2>
      Kosten?
    </h2>

    <p>
      Du kannst unseren Marktplatz sowohl als Käufer als auch als Verkäufer zu 100% kostenlos nutzen. Wir wollen keine Provisionen oder monatlichen Gebühren erheben und alle Funktionen stehen allen zur Verfügung. Wir sind ein kleines Team und arbeiten ehrenamtlich. Der Betrieb einer solchen Plattform ist natürlich mit Kosten verbunden, aber die können wir noch selbst tragen. Vielleicht müssen wir irgendwann etwas prominenter um Spenden bitten oder uns etwas anderes einfallen lassen, wenn hier mehr los ist und die technischen Anforderungen wachsen. Das wird aber immer nur der Kostendeckung dienen und transparent kommuniziert.
    </p>

    <h2>
      Wie finden Käufer meine Produkte?
    </h2>

    <p>
      Nun, Suchmaschinenoptimierung ist eine schwierige Sache. Wir arbeiten daran, aber es braucht auch einfach Zeit. Du kannst uns helfen, indem du deine Produkte in den sozialen Medien teilst und deinen Freunden von uns erzählst. Wir wollen organisch wachsen und machen keine bezahlte Werbung.
    </p>
  </div>
</div>
