<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @user %>" class="max-w-screen-lg mx-auto py-4 sm:py-8">
  <div class="flex justify-between items-center mb-4">
    <div class="mb-4">
      <div class="flex items-center justify-between mb-3">
        <h1 class="text-3xl sm:text-5xl mb-2 flex items-center">
          <%= image_tag @user.avatar, class: 'w-20 h-20 rounded-full mr-4' if @user.avatar.attached? %>
          <span class="first-letter:uppercase">
            <%= @user.name %>
          </span>
        </h1>
        <% if authenticated? && Current.user == @user %>
          <div class="flex items-center space-x-2">
            <%= link_to edit_user_path(@user), class: "secondary" do %>
              <button>Profil bearbeiten</button>
            <% end %>
            <%= button_to session_path, method: :delete, class: "secondary" do %>
              Abmelden
            <% end %>
          </div>
        <% end %>
      </div>
      <p class="text-xl sm:text-3xl text-gray-600">
        <%= @user.bio %>
      </p>
    </div>
  </div>

  <%= render partial: 'products/grid', locals: { products: @user.products } %>
</div>
