<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :title, "Titel", style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="mb-4">
    <%= form.label :description, "Kurzbeschreibung", style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="mb-4">
    <%= form.label :images, "Bilder", style: "display: block" %>
    <% @product.images.each do |image| %>
      <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
    <% end %>

    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="mb-4">
    <%= form.label :body, "Ausführliche Beschreibung", class: "block mb-2" %>
    <%= form.rich_textarea :body, class: "w-full h-64" %>
  </div>

  <div class="mb-4">
    <h1 class="text-2xl mb-2">Materialien</h1>
    <%= form.fields_for :materials do |material_form| %>
      <div class="flex space-x-3">
        <div>
          <%= material_form.label :name, "Bezeichnung" %>
          <%= material_form.text_field :name %>
        </div>
        <div>
          <%= material_form.label :cost, "Kosten" %>
          <%= material_form.number_field :cost %>
        </div>
        <div>
          <%= material_form.check_box :secondhand %>
          <%= material_form.label :secondhand, "Gebraucht" %>
        </div>
        <% if material_form.object.persisted? %>
          <div>
            <%= material_form.checkbox :_destroy %>
            <%= material_form.label :_destroy, "Löschen" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Produkt speichern" %>
  </div>
<% end %>
