<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @product %>" class="max-w-screen-lg mx-auto py-4 sm:py-8">
  <div class="flex justify-between items-center mb-4">
    <div class="mb-4">
      <h1 class="text-3xl sm:text-5xl mb-2">
        <%= @product.title %>
      </h1>
      <p class="text-xl sm:text-3xl text-gray-600">
        <%= @product.description %>
      </p>
    </div>
  </div>

  <div class="flex flex-col sm:flex-row space-y-3 sm:space-x-3 sm:space-y-0 items-start" data-controller="lightbox">
    <% if @product.ordered_images.any? %>
      <div class="sm:w-1/3">
        <%= link_to @product.ordered_images.first, data: { lightbox: "product-gallery" } do %>
          <div class="relative aspect-square w-full group overflow-hidden rounded-lg">
            <%= image_tag @product.ordered_images.first, class: "w-full h-full object-cover transition-transform duration-300 group-hover:scale-105" %>
            <div class="absolute inset-0 bg-black/0 group-hover:bg-black/20 transition-all duration-300 flex items-center justify-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-24 text-white opacity-0 group-hover:opacity-50 transition-opacity duration-300"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
              </svg>
            </div>
          </div>
        <% end %>
      </div>
      <div class="sm:w-24 flex sm:flex-col space-x-3 sm:space-y-3 sm:space-x-0">
        <% @product.ordered_images.each_with_index do |image, index| %>
          <% next if index.zero? %>
          <%= link_to image, data: { lightbox: "product-gallery" } do %>
            <div class="relative aspect-square w-full group overflow-hidden rounded-lg">
              <%= image_tag image, class: "w-full h-full object-cover transition-transform duration-300 group-hover:scale-105" %>
              <div class="absolute inset-0 bg-black/0 group-hover:bg-black/20 transition-all duration-300 flex items-center justify-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-8 text-white opacity-0 group-hover:opacity-50 transition-opacity duration-300"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="pt-4 sm:pt-0 sm:pl-4 grow w-full">
      <div>
        <h1 class="text-xl leading-none">Zeitaufwand</h1>
        <p class="text-2xl font-semibold">
          <%= @product.time_invested %> Stunden
        </p>
      </div>

      <div class="mt-4">
        <div class="bg-white grid grid-cols-3 rounded-lg shadow-sm text-lg">
          <% @product.materials.each do |material| %>
            <div class="p-3 col-span-2 flex items-center">
              <%= material.name %>
              <% if material.secondhand? %>
                <span class="text-sm text-gray-500 ml-3">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 text-gray-400 inline-block">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                  </svg>
                  wiederverwendet
                </span>
              <% end %>
            </div>
            <div class="p-3 text-right">
              <%= number_to_currency material.cost, unit: "€", format: "%n %u" %>
            </div>
          <% end %>
          <div class="p-3 text-xl col-span-2">
            Gesamtkosten:
          </div>
          <div class="p-3 text-xl text-right">
            <span class="font-semibold">
              <%= number_to_currency @product.materials.sum(&:cost), unit: "€", format: "%n %u" %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4 prose-lg sm:prose-xl">
    <%= @product.body %>
  </div>

  <div class="mt-12">
    <h1 class="text-2xl mb-2">Anfrage</h1>
    <p class="text-lg sm:text-xl text-gray-600 mb-4">
      Du hast Interesse an diesem Produkt? Dann schreib <span class="first-letter:uppercase inline-block"><%= @product.user.name %></span> eine Nachricht.
    </p>
    <input type="text" placeholder="Dein Name" class="w-full h-12 mb-3">
    <input type="email" placeholder="Deine E-Mail-Adresse" class="w-full h-12 mb-3">
    <input type="tel" placeholder="Deine Telefonnummer" class="w-full h-12 mb-3">
    <input type="text" placeholder="Preis- oder Tauschvorschlag" class="w-full h-12 mb-3">
    <textarea placeholder="Anfrage" class="h-32"></textarea>
    <button class="mt-3">Anfrage senden</button>
  </div>

  <div class="mt-24">
    <h1 class="text-4xl mb-3">
      <%= link_to user_path(@product.user), class: 'hover:underline flex items-center w-min' do %>
        <%= image_tag "https://i.pravatar.cc/300", class: 'w-12 h-12 rounded-full mr-3' %>
        <span class="first-letter:uppercase">
          <%= @product.user.name %>
        </span>
      <% end %>
    </h1>
    <p class="text-xl sm:text-2xl text-gray-600 mb-4 sm:mb-8">
      <%= @product.user.bio %>
    </p>

    <%= render partial: 'products/grid', locals: { products: @product.user.products } %>
  </div>
</div>
