<%= render partial: 'shared/header' %>

<%= render layout: 'layouts/content' do %>
  <div class="flex justify-between items-center mb-4">
    <div class="mb-4">
      <div class="flex flex-col sm:flex-row items-start justify-between mb-3">
        <h1 class="text-3xl sm:text-5xl mb-2 flex items-center">
          <%= @product.title %>
        </h1>
        <% if authenticated? && Current.user == @product.user %>
          <div class="flex items-center space-x-2">
            <%= link_to edit_product_path(@product) do %>
              <button>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-2 opacity-50">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                </svg>
                Produkt bearbeiten
              </button>
            <% end %>
            <%= link_to delete_product_path @product do %>
              <button class="secondary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 sm:mr-2 opacity-50">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>
                <span class="hidden sm:inline">
                  Löschen
                </span>
              </button>
            <% end %>
          </div>
        <% end %>
      </div>
      <p class="text-xl sm:text-3xl text-gray-600">
        <%= @product.description %>
      </p>
    </div>
  </div>

  <div class="flex flex-col sm:flex-row space-y-3 sm:space-x-3 sm:space-y-0 items-start" data-controller="lightbox">
    <% if @product.ordered_images.any? %>
      <div class="sm:w-1/3">
        <%= link_to @product.ordered_images.first.variant(:big), data: { lightbox: "product-gallery" } do %>
          <div class="relative aspect-square w-full group overflow-hidden rounded-lg">
            <%= image_tag @product.ordered_images.first.variant(:thumb), class: "w-full h-full object-cover transition-transform duration-300 group-hover:scale-105" %>
            <div class="absolute inset-0 bg-black/0 group-hover:bg-black/20 transition-all duration-300 flex items-center justify-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-24 text-white opacity-0 group-hover:opacity-50 transition-opacity duration-300"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
              </svg>
            </div>
          </div>
        <% end %>
      </div>
      <% if @product.ordered_images.size > 1 %>
        <div class="sm:w-24 flex sm:flex-col space-x-3 sm:space-y-3 sm:space-x-0">
          <% @product.ordered_images.each_with_index do |image, index| %>
            <% next if index.zero? %>
            <%= link_to image.variant(:big), data: { lightbox: "product-gallery" } do %>
              <div class="relative aspect-square w-full group overflow-hidden rounded-lg">
                <%= image_tag image.variant(:thumb), class: "w-full h-full object-cover transition-transform duration-300 group-hover:scale-105" %>
                <div class="absolute inset-0 bg-black/0 group-hover:bg-black/20 transition-all duration-300 flex items-center justify-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-8 text-white opacity-0 group-hover:opacity-50 transition-opacity duration-300"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                  </svg>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <div class="pt-4 sm:pt-0 sm:pl-4 grow">
      <div>
        <h1 class="text-xl leading-none">Zeitaufwand:</h1>
        <p class="text-2xl font-semibold">
          <%= @product.time_invested %> Stunden
        </p>
      </div>

      <div class="mt-4">
        <h1 class="text-xl mb-2">Materialkosten:</h1>
        <div class="bg-white grid grid-cols-3 rounded-lg shadow-sm text-lg">
          <% @product.materials.each do |material| %>
            <div class="p-3 col-span-2 flex items-center">
              <%= material.name %>
              <% if material.secondhand? %>
                <span class="text-sm text-gray-500 ml-3">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 text-gray-400 inline-block">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                  </svg>
                  wiederverwendet
                </span>
              <% end %>
            </div>
            <div class="p-3 text-right">
              <%= number_to_currency material.cost, unit: "€", format: "%n %u" %>
            </div>
          <% end %>
          <div class="p-3 text-xl col-span-2">
            Gesamtkosten:
          </div>
          <div class="p-3 text-xl text-right">
            <span class="font-semibold">
              <%= number_to_currency @product.materials.sum(&:cost), unit: "€", format: "%n %u" %>
            </span>
          </div>
        </div>
      </div>
      <div data-controller="cart-add">
        <input type="hidden" data-cart-add-target="productId" value="<%= @product.id %>">
        <button class="mt-4 w-full" data-action="click->cart-add#addProduct">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-2 opacity-50">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
          </svg>
          In den Warenkorb
        </button>
      </div>
    </div>
  </div>

  <div class="mt-4 prose-lg sm:prose-xl">
    <%= @product.body %>
  </div>

  <div class="mt-12">
    <h1 class="text-2xl mb-2">Anfrage</h1>
    <p class="text-lg sm:text-xl text-gray-600 mb-4">
      Du hast Interesse an diesem Produkt? Dann schreib <span class="first-letter:uppercase inline-block"><%= @product.user.name %></span> eine Nachricht.
    </p>
    <input type="text" placeholder="Dein Name" class="w-full h-12 mb-3">
    <input type="email" placeholder="Deine E-Mail-Adresse" class="w-full h-12 mb-3">
    <input type="tel" placeholder="Deine Telefonnummer" class="w-full h-12 mb-3">
    <input type="text" placeholder="Preis- oder Tauschvorschlag" class="w-full h-12 mb-3">
    <textarea placeholder="Anfrage" class="h-32"></textarea>
    <button class="mt-3">Anfrage senden</button>
  </div>

  <div class="mt-24">
    <div class="mb-3 flex flex-col sm:flex-row items-start justify-between">
      <h1 class="text-4xl">
        <%= link_to user_path(@product.user), class: 'hover:underline flex items-center' do %>
          <%= image_tag @product.user.avatar.variant(:thumb), class: 'w-12 h-12 rounded-full mr-3' if @product.user.avatar.attached? %>
          <span class="first-letter:uppercase">
            <%= @product.user.name %>
          </span>
        <% end %>
      </h1>
      <% if Current.user != @product.user %>
        <button class="sm:ml-3 mt-3 sm:mt-0 secondary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5" />
          </svg>
          Über neue Produkte informieren
        </button>
      <% end %>
    </div>
    <p class="text-xl sm:text-2xl text-gray-600 mb-4 sm:mb-8">
      <%= @product.user.bio %>
    </p>

    <%= render partial: 'products/grid', locals: { products: @product.user.products } %>
  </div>
<% end %>